* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #191765;
  margin-top: 0;
}

.app-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 23.438em;
  margin-top: 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  background: #191765;
  padding-top: 3.625em;
}

.logo {
  color: #ffff;
  margin-left: 1.563em;
  font-size: 1.125em;
  font-weight: 700;
  text-decoration: none;
}

.mob-nav-bar {
  position: relative;
  left: -2.188em;
  height: 0.75rem;
  color: #6070ff;
  text-decoration: none;
}

.desk-nav-bar {
  display: none;
}

.work-tag-left {
  display: none;
}

.work-tag-right {
  margin-left: 7rem;
}

.ellipse {
  position: absolute;
  width: 13rem;
  height: 11.625rem;
  left: -6.625rem;
  background: #edecff;
  filter: blur(2.4375em);
  margin-top: -82%;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  left: calc(50% - 20.4375em / 2);
  top: 19.625em;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1.5em;
}

.primary-content {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 4.5625em;
  text-align: center;
  letter-spacing: 0.023125em;
  color: #7d73fc;
  margin-top: -0.25em;
}

.secondry-content {
  font-style: normal;
  font-weight: 800;
  font-size: 2em;
  line-height: 4.5625em;
  text-align: center;
  letter-spacing: 0.023125em;
  color: #e1e0f1;
  margin-top: -4.25em;
}

.simple-content {
  margin-top: -0.562rem;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  width: 61%;
  font-style: normal;
  font-weight: 550;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #c8c8d4;
}

.divisor {
  top: calc(10% - 0px / 2 + 0.5px);
  padding-top: 5px;
}

.tech-panal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.9375rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
  color: #c8c8d4;
  height: 31.25rem;
}

.home-panal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
  padding-left: 0;
}

.frame-panal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
  padding-right: 40%;
}

.skill-panal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -119%;
  padding: 0;
  margin-top: 90%;
}

.panal-head {
  letter-spacing: 0.03rem;
  color: #9490ff;
  font-size: 0.75rem;
  line-height: 1.75rem;
}

li {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  color: #f5f5ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5%;
}

.ellipse-image {
  width: 4.25rem;
  height: 4.25rem;
  margin-left: 17.1875rem;
  margin-top: -29.875rem;
  background: #edecff;
  filter: blur(1.4375rem);
}

.home-end {
  margin-top: 26rem;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icons {
  width: 20px;
  height: 20px;
}

.social-icons:hover {
  background-color: cadetblue;
}

/* work section */
.desk-work-section-wrap {
  display: none;
}

.work-section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 23.437rem;
  top: 80.75rem;
}

.desk-main-work-section {
  display: none;
}

.main-work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.437rem;
  margin-top: 1.5rem;
}

.desk-recent-work {
  display: none;
}

.recent-work {
  width: 23.437rem;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  padding-left: 1.125em;
}

.work-divisor {
  top: calc(6% - 0px / 2 + 0.5px);
}

.desk-main-post-container {
  display: none;
}

.main-post-container {
  display: grid;
  grid-template-rows: 42.5rem 42.5rem 42.5rem 42.5rem;
  width: 23.437rem;
  padding: 2px;
}

.main-post-container > section {
  padding: 20px;
  font-size: 18px;
  color: #dcdce8;
  font-family: 'Inter', sans-serif;
}

.work-place-img {
  display: flex;
  position: static;
  width: 23.437rem;
  height: 14.75rem;
  background: linear-gradient(0deg, #ffff, #ffff);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 2px;
}

.work-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 101px;
  height: 57px;
  top: 421px;
  background: #7d73fc;
  color: #edecff;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 5px;
}

.work-button:hover {
  background-color: #c8c8d4;
  color: #191765;
}

.work-button:active {
  background-color: darkseagreen;
}

.work-button:visited {
  background-color: darkturquoise;
}

.ellipse-work-sec1 {
  position: absolute;
  width: 70.28px;
  height: 261.6px;
  left: -258.04px;
  top: -146.29px;
  transform: rotate(-8.38deg);
}

/* .ellipse-work-sec2 {
  position: absolute;
  width: 70.28px;
  height: 261.6px;
  left: 574.27px;
  top: 894.23px;
  background: #edecff;
  filter: blur(40px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.ellipse-work-sec3 {
  position: absolute;
  width: 308px;
  height: 309px;
  left: -259px;
  top: 1597px;
  background: rgba(237, 236, 255, 0.3);
  filter: blur(39px);
}

.ellipse-work-sec4 {
  position: absolute;
  width: 101.29px;
  height: 291.04px;
  left: 385.22px;
  top: 2190px;
  filter: blur(23px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
} */

.contact-section {
  display: flex;
  background: #191765;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 20.4375rem;
  height: 51.5em;
  top: 250rem;
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 20.4375rem;
  height: 164px;
  left: calc(50% - 20.4375rem / 2);
  top: 7.5rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2.5rem;
}

.contact-heading {
  position: static;
  width: 327px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
  justify-content: center;
}

.content {
  position: static;
  width: 20.4375rem;
  height: 6.5625rem;
  top: 3.6875rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: static;
  width: 20.4375rem;
  height: 26.875rem;
  left: 24px;
  top: 20.25em;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px;
  padding-top: 10px;
}

.name-field {
  position: absolute;
  width: 327px;
  height: 48px;
  top: calc(37% - 48px / 2);
}

.email-field {
  position: absolute;
  width: 327px;
  height: 48px;
  top: calc(47% - 48px / 2);
}

.area-field {
  position: absolute;
  width: 327px;
  height: 148px;
  top: calc(57% - 48px / 2);
}

::placeholder {
  height: 23px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #81818c;
  padding-left: 16px;
}

.contact-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 26px;
  position: absolute;
  width: 101px;
  height: 57px;
  top: 647px;
  background: #7d73fc;
  color: #edecff;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-left: 100px;
  font-weight: bold;
}

.contact-btn:hover {
  background-color: cadetblue;
}

.end-footer {
  margin-top: 31rem;
}

.social-media-list-end {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.end-email {
  top: 2.3125em;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

@media (min-width: 992px) {
  .app-wrap {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .app-header {
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    text-decoration: none;
  }

  .logo {
    padding-left: 8%;
  }

  a {
    color: #ffff;
    text-decoration: none;
  }

  .mob-nav-bar {
    display: none;
  }

  .desk-nav-bar {
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15.0625rem;
    height: 2.5rem;
    margin-right: 3rem;
    justify-content: space-between;
    text-decoration: none;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 700px;
    left: calc(50% - 50% / 2);
    top: 114px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .simple-content {
    width: 50%;
  }

  .divisor {
    position: static;
  }

  .tech-panal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 25rem;
    height: 15rem;
    margin-left: 7rem;
  }

  .skill-panal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 13.4375rem;
    margin-left: -7.1875rem;
    margin-top: 0;
  }

  .divisor-bottom {
    position: static;
    width: 406px;
  }

  .home-end {
    position: absolute;
    width: 20.75em;
    top: 26rem;
  }

  .social-media-list {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 18%;
    margin-left: 3%;
  }

  .work-tag-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 77px;
    height: 40px;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -62%;
    margin-top: 27%;
  }

  .work-tag-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 77px;
    height: 40px;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 139%;
    margin-top: -9%;
  }

  .arrow-line {
    display: none;
  }

  .work-place-img {
    display: none;
  }

  .work-section-wrap {
    display: none;
  }

  .desk-work-section-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 120.1875rem;
    margin-top: 197rem;
    left: calc(50% - 80% / 2);
    order: 0;
    flex-grow: 0;
  }

  .desk-work-section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 100%;
    height: 110px;
    top: 110px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .desk-recent-work {
    position: static;
    width: 300px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 114px;
    display: flex;
    align-items: center;
    color: #9390ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .desk-work-divisor {
    position: static;
    width: 100%;
    margin-top: 2%;
    border: 1px solid #646369;
  }

  .desk-main-post-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 80px;
    column-gap: 2%;
    position: static;
    top: 220px;
    width: 100%;
  }

  .desk-main-post-container > section {
    font-size: 18px;
    color: #dcdce8;
    font-family: 'Roboto', sans-serif;
  }

  .languages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 2px;
  }

  .desk-post-heading {
    display: flex;
    position: static;
    padding-top: 10px;
    font-size: 38px;
    font-weight: bold;
    color: #dcdce8;
    font-family: 'Roboto', sans-serif;
  }

  .desk-post-image {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ffff, #ffff);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .contact-section {
    background: #191765;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 37.5rem;
    height: 45.625rem;
    margin-top: 200rem;
    left: calc(50% - 37.5rem / 2);
    padding: 0;
    top: 0;
  }

  .main-contact {
    padding: 0;
  }

  .content {
    width: 600px;
  }

  hr {
    width: 100%;
    border: 1px solid #3a3837;
  }

  .name-field {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: calc(37% - 48px / 2);
  }

  .end-email {
    margin-top: 31%;
  }

  .email-field {
    position: absolute;
    width: 598px;
    height: 50px;
    left: 0;
    top: calc(47% - 48px / 2);
  }

  .area-field {
    position: absolute;
    width: 598px;
    height: 150px;
    left: 0;
    top: calc(57% - 48px / 2);
  }

  .ellipse {
    width: 11.5rem;
    height: 11.5rem;
    margin-top: -5rem;
    margin-left: 8rem;
    background: #edecff;
    filter: blur(45px);
  }

  .ellipse-image {
    width: 8rem;
    height: 9rem;
    margin-top: -15rem;
    margin-left: 48rem;
    background: #edecff;
    filter: blur(39px);
  }

  .ellipse-img3 {
    position: absolute;
    width: 77.53px;
    height: 276.92px;
    left: -38px;
    top: 23.12px;
    background: #edecff;
    filter: blur(50px);
    transform: rotate(-36.38deg);
  }

  .ellipse-img4 {
    position: absolute;
    width: 102px;
    height: 402px;
    left: 664px;
    top: 641px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .ellipse-img5 {
    position: absolute;
    width: 193px;
    height: 155px;
    left: -90px;
    top: 1100px;
    background: #edecff;
    filter: blur(50px);
  }

  .ellipse-img6 {
    position: absolute;
    width: 58px;
    height: 300px;
    left: 697px;
    top: 1312px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }
}
